 <div class="row">
          <div class="col-md-5">
            <%= render '/devise/registrations/form' %>
          </div>
          <div class="col-md-2">
            <div class="vl">&nbsp;</div>
          </div>
          <div class="col-md-5">
            <%= render '/devise/sessions/form' %>
            <div class="row">
              <div class="col-md-5">
                 <hr>
              </div>
              <div class="col-md-2">
                 Or
              </div>
              <div class="col-md-5">
                 <hr>
              </div>
            </div>
          </div>
        </div>